/* Base styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Verdana, sans-serif;
  background-color: var(--background-color);
}

:root {
  --primary-color: #333; /* Dark Grey */
  --background-color: #f5f5f5;
}

img {
  border-radius: 50%;
  object-fit: cover;
}

/* Feed container and feed box styles */
.feeds-container {
  width: 80%;  /* Expand the container to 95% of the screen */
  margin: 0 auto;  /* Center the container */
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-box {
  width: 80%;
  max-width: 900px;  /* Optional: Set a max-width for large screens */
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.feed-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.feed-content .feed-image {
  width: 100%;
  border-radius: 8px;
}

.feed-actions {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.feed-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.loading-spinner {
  font-size: 18px;
  color: #999;
}

/* Navigation styles for different screen sizes */
.nav-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Media queries for responsive navigation */
@media screen and (min-width: 768px) {
  .nav-left {
    display: flex;
  }

  .nav-bottom {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-left {
    display: none;
  }

  .nav-bottom {
    display: flex;
  }
}

/* Global animation */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
