<div class="header-bottom">
  <a routerLink="/home">
    <i class="fas fa-home"></i>
  </a>
  <a (click)="openCreatePopup()">
    <i class="fas fa-plus-circle"></i>
  </a>
  <a routerLink="/messages">
    <i class="fas fa-envelope"></i>
  </a>
  <a routerLink="/notifications">
    <i class="fas fa-bell"></i>
  </a>
  <!-- Link to GitHub Repository -->
  <a href="https://github.com/ManeeshPardeshi/BackEnd" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github"></i> <!-- GitHub icon -->
  </a>
  <!-- Link to LinkedIn Profile -->
  <a href="https://www.linkedin.com/in/manish-pardeshi-069417133/" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-linkedin"></i> <!-- LinkedIn icon -->
  </a>
</div>
