/* File: src/app/tenx-app-navigation/tenx-app-navigation.component.css */

.header-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: white;
  bottom: 0;
  z-index: 999; /* Keep this below the header */
  color: rgb(26, 25, 25);
  padding-top: 60px; /* Adjust the padding to avoid overlap with the header */
}

.header-bottom a {
  text-align: center;
  flex: 1;
  color: rgb(26, 25, 25);
  text-decoration: none;
}

.header-bottom i {
  font-size: 24px;
  color: rgb(26, 25, 25);
}

@media (min-width: 768px) {
  .header-bottom {
    width: 60px;
    height: calc(100% - 60px); /* Subtract the header height */
    flex-direction: column;
    top: 60px; /* Place below the header */
    bottom: auto;
    left: 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll */
}
